extends layout 

block content 
  ul(class="list-none flex flex-col gap-2 w-full")
  each message in messages 
    li 
      div(class="flex flex-col") 
        
        h1(class="text-xl text-gray-700")=message.title
        p(class="text-gray-700")=message.text
        
        div(class="flex flex-row justify-end")
          span(class="text-sm text-gray-500") #{message.timestamp} from #{message.author}
    

  else 
    span It looks empty in here...
  
  a(href='/message')
    button(type='button' class="rounded border-2 p-1") Add new message