doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  script(src="https://cdn.tailwindcss.com") 

  h1 Hello world

  main
    block content