extends layout

block content 
  
  form(method="post" action="" class="mt-2")
    label(class="flex flex-row gap-2") Membership key
      input(type="text" name="key" class="border-2 rounded")
    
    button(type="submit" class="border-2 rounded p-1 mt-3") Apply for membership
  