extends layout

block content 
  
  form(method="post" action="" class="flex flex-col gap-2 w-1/4")
    label(class="flex flex-col gap-2") Membership key
      input(type="text" name="key" class="border-2 rounded")
    
    button(type="submit" class="border rounded p-2") Apply for membership
  